@import './utils/modern-normalize';
@import './base/fonts';
@import './utils/variables';
@import './base/base';
@import './base/defaults';

@import './components/logo';
@import './components/header';
@import './components/header-navigation';
@import './components/hero';
@import './components/advantages';

.section--business {
  padding-top: 0;
}

.business {
  display: flex;
  margin-top: 50px;
}

.business__item:not(:last-child) {
  margin-right: 30px;
}

.business__image {
  height: 100%;
}

.business__item {
  position: relative;
}

.business__service {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: $main-white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business__name {
  margin: 0;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

.section--team {
  background: $light-background;
}

.team {
  display: flex;
  margin-top: 50px;
}

.team__item {
  width: 270px;
  background: $main-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__image {
  display: block;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $main-dark-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-links__name:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $main-white-color;
  color: $social-link-color;

  transition-property: color, background-color;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.social-links__icon,
.clients__icon {
  fill: currentColor;
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: $accent;
  color: $main-white-color;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.clients__list {
  width: 170px;
  height: 90px;
}

.clients__list:not(:last-child) {
  margin-right: 30px;
}

.clients__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid $social-link-color;
  color: $social-link-color;

  transition-property: color, border;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.clients__name:hover,
.clients__name:focus {
  color: $accent;
  border: 1px solid $accent;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $dark-background;
}

.footer__container {
  display: flex;
}

.adress {
  margin-right: 70px;
}

.footer__logo-web {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: $main-white-color;
}

.address__item {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address__contact:not(:last-child) {
  margin-bottom: 9px;
}

.join-us {
  margin-top: 12px;
}

.footer__join-us {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: $bold-font-weight;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-white-color;
}

.join-us__social-links {
  margin-bottom: 0;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link--bgcolored {
  background-color: rgba(255, 255, 255, 0.1);
  color: $main-white-color;

  transition-property: background-color;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: $accent;
}

/* Button */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: $bold-font-weight;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent;
  color: $main-white-color;
  box-shadow: $btn-shadow;

  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.button:hover,
.button:focus {
  background-color: $main-white-color;
  color: $accent;
}

/* Portfolio */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-portfolio__list:not(:last-child) {
  margin-right: 8px;
}

.nav-portfolio__btn {
  width: auto;
  height: auto;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  background-color: $light-background;
  color: $main-dark-color;
  box-shadow: none;

  transition-property: color, background, box-shadow;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.nav-portfolio__btn:hover,
.nav-portfolio__btn:focus {
  color: $main-white-color;
  background: $accent;
  box-shadow: $btn-shadow;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples__item {
  width: 370px;
  margin: 15px;
  background: #ffffff;

  transition-property: box-shadow;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.examples__item:hover,
.examples__item:focus {
  display: block;
  box-shadow: $btn-shadow;
  outline: none;
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 59px 24px 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.examples__item:hover .examples__overlay,
.examples__item:focus-within .examples__overlay {
  transform: translateY(0);
}

.examples__overlay-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: $main-white-color;
}

.examples__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.examples__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: $bold-font-weight;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-dark-color;
}

.examples__description {
  margin: 0px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $second-dark-color;
}

.subscribe {
  margin-top: 12px;
  margin-left: auto;
}

.subscribe__label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: $bold-font-weight;
  color: $main-white-color;
  text-transform: uppercase;
}

.subscribe__thub {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition-property: border;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.subscribe__input:focus {
  border: 1px solid $accent;
  outline: none;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  box-shadow: $btn-shadow;
}

.subscribe__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
  transition-property: fill, background, box-shadow;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.subscribe__icon:hover,
.subscribe__icon:focus {
  background-color: $main-white-color;
  color: $accent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $time-animation $timing-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  background-color: $main-white-color;

  transform: translate(-50%, -50%) rotate(360deg);

  transition: transform $time-animation $timing-function;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: $main-white-color;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  cursor: pointer;
}

.close-icon {
  fill: currentColor;
  transition: fill $time-animation $timing-function;
}

.close-btn:hover .close-icon {
  fill: $accent;
}

.modal {
  padding: 40px;
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: $bold-font-weight;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $main-dark-color;
}

.form__label {
  display: inline-block;
  margin-bottom: 10px;
}

.form__label-name {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $second-dark-color;
}

.form__thub {
  position: relative;
}

.form__input {
  display: block;
  min-width: 448px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border, fill;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.form__input:focus,
.subscribe__input:focus {
  outline: transparent;
  border: 1px solid $accent;
}

.form__input:focus + .form__icon {
  fill: $accent;
  transition-property: fill;
  transition-duration: $time-animation;
  transition-timing-function: $timing-function;
}

.textarea {
  padding: 12px 16px;
  margin-bottom: 10px;
  resize: none;
  font-size: 12px;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;

  top: 50%;
  left: 12px;

  transform: translateY(-50%);
}

.form__label-agree {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  top: 0;
  left: 12px;
  border: 1px solid $main-dark-color;
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.checkbox:checked + .checkbox-icon {
  border-color: $accent;
  background-color: $accent;
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__label-name--agree {
  margin-left: 36px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__label-agree--link {
  color: $accent;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.send:hover {
  background-color: #188ce8;
  color: $main-white-color;
}
