.social-links {
  @extend .container-flex;
  justify-content: center;
  margin-bottom: 30px;

  &__name:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @extend .container-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $main-white-color;
    color: $social-link-color;

    @include animation(color, background-color);
  }

  &__icon {
    fill: currentColor;
    @include animation(fill);
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent;
    color: $main-white-color;
  }

  &__icon:hover,
  &__icon:focus {
    fill: $main-white-color;
  }
}
